.Cart {
  width: 100%;
  padding: 20px;
  &_item {
    margin: 15px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 2px solid white;
    &_info {
      width: 100%;
    }
    &_image {
      padding: 5px;
      width: 150px;
      width: 150px;
    }
    &_btn {
      justify-content: center;
      align-items: center;
      background-color: #f2ede9;
      color: #401e2a;
      border: 2px solid #401e2a;
      border-radius: 5px;
    }
    &_btn:hover {
      color: #f2ede9;
      background-color: #401e2a;
      border: 2px solid #f2ede9;
    }
  }
}
