.Favourites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ProductCard > a {
  text-decoration: none;
  color: #401e2a;
}

.Favourites_Card:hover {
  background-color: #401e2a;
  color: #f2ede9;
}
